# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\fskn\Documents\Softwareudvikling\1 semester\Ufo\PerformanceAndOptimization_week14\letterfrequencies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
